<% provide(:title, 'get available users') %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
		<h3>Select Date to check available users</h3>
		<input id="checkDate" type="text" class="form-control" />
		<button id="gau" class="btn btn-primary">Submit</button>
	</div>
</div>